
%centered {
	text-align: center;
}

%t-border {
	border-top: 2px solid #dfe2e6;
}

%content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

%columns {
	width: 46.5%;
}

%clearfix {
	&:after {
  content: "";
  display: table;
  clear: both;
	}
}